/*----------------------------------------------------------------------------
  Variables
----------------------------------------------------------------------------*/
// Colors
$primary: #020000;
$secondary: #F8F8F8;
$gray: #333333;
$gray-light: #707070;
$Gray-lightest: #F5F5F5;
$green: #A0CE4E;
$white: #fff;
$black: #000;
$red: #ff0000;

// Font families
$ptsans: 'PT Sans', sans-serif;
$bentham: 'Bentham', serif;
$margo: 'Margo', serif;