/*------------------------------------------------------------------------------
  Buttons
------------------------------------------------------------------------------*/
.button {
  &--primary {
    @include buttons($primary, $primary, $white, $primary, transparent, $primary);
  }

  &--primary-ghost {
    @include buttons($primary, transparent, $primary, $primary, $primary, $white);
  }

  &--secondary {
    @include buttons($secondary, $secondary, $black, $secondary, transparent, $black);
  }

  &--secondary-ghost {
    @include buttons($secondary, transparent, $black, $secondary, $secondary, $black);
  }

  &--white {
    @include buttons($white, $white, $primary, $white, transparent, $white);
  }
  
  &--white-ghost {
    @include buttons($white, transparent, $white, $white, $white, $primary);
  }

  &--blue {
    @include buttons($blue, $blue, $white, $blue, transparent, $white);
    padding: rem(25) rem(40);
    border-radius: rem(15);
    font: 900 rem(20)/1 $ptsans;

  }

}
