/*------------------------------------------------------------------------------
  Footer
------------------------------------------------------------------------------*/
.site-footer {
  
  li, ol, p, ul {
    font-size: rem(16);
  }

  &__top {
    @include iPhoneX;
    background-color: $black;

    .container {
      padding: rem(30) 0;
    }

    .col-12 {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }
  }

  &__logo {
    width: rem(250);
    margin: 0 auto;
  }

  &__content , &__copyright {
    color: $white;
    margin: rem(40) 0 0;
  }

  &__main {
    @include iPhoneX;
    background-color: $black;

    .container {
      padding: rem(85) 0;
    }
  }
}

// Media Queries
@media screen and (max-width: $small-breakpoint) {
  .site-footer {
    &__top {
      .container {
        padding: rem(30);
      }
      .col-12 {
        justify-content: center;
      }
    }

    &__logo {
      flex: 0 1 100%;

      a {
        display: block;
        width: rem(250);
        margin: 0 auto rem(15);
      }
    }

    &__main .container {
      padding: rem(40) 0;
    }
  }
}
