/*------------------------------------------------------------------------------
  Forms
------------------------------------------------------------------------------*/
// General Form Styles
label {
  position: relative;
  left: rem(20);
  padding-right: rem(30) !important;
  font: 500 rem(20)/1.3 $bentham !important;
  color: $white;
  z-index: 1;
}

input[type="text"], input[type="email"], input[type="tel"], input[type="number"], input[type="url"],
textarea,
select {
  width: 100% !important;
  padding: rem(20) !important;
  border-radius: rem(2) !important;
  border: rem(2) solid $white;
  background-color: $white;
  font: 400 rem(20)/1.3 $ptsans !important;
  color: $black;
  transition: all .4s ease;

  &:active,
  &:focus {
    outline: none;
    border-color: $white;
  }
}

select {
  -webkit-appearance: none;

  // Hides IE Dropdown default arrow
  &::-ms-expand {
    display: none;
  }
}

input[type="checkbox"],
input[type="radio"] {
  position: relative;
  height: rem(30) !important;
  margin-right: 0 0 rem(8) !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;

  + label {
    left: 0;
  }

  // box/circle
  &:before {
    content: '';
    position: relative;
    display: block;
    top: 0;
    left: 0;
    width: rem(30);
    height: rem(30);
    border: rem(2) solid $white;
    background-color: transparent;
    transition: all .4s ease;
  }

  // check/dot
  &:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: 'Font Awesome 5 Pro';
    font-size: rem(24);
    color: transparent;
    z-index: 1;
    transition: all .4s ease;
  }

  &:checked:after {
    color: $white;
  }

  &:focus, &:active {
    outline: none;

    &:before {
      border-color: $white;
    }
  }
}

input[type="checkbox"] {
  &:before {
    border-radius: rem(4) !important;
  }

  &:after {
    content: '\f00c';
    width: rem(24);
    height: rem(24);
    font-weight: 400;
  }
}

input[type="radio"] {
  &:before {
    border-radius: 50%;
  }

  &:after {
    content: '\f111';
    width: rem(20);
    height: rem(20);
    font-size: rem(20);
    font-weight: 900;
  }
}

//file upload
.ginput_container_fileupload input {
  color: $white;
  display: flex;
  align-items: center;
  justify-content: center;
}

// Submit Button
input[type="submit"] {
  width: auto !important;
  @include buttons($white, transparent, $white, $white, $white, $primary);
  min-width: rem(300);
  margin: 0 auto;

  &:active,
  &:focus,
  &:hover {
    outline: none;
  }
}

// Gravity Form Specific Styles
.gform_wrapper {
  margin: 0 !important;
  padding: rem(10) 0 rem(30);

  form {
    // Layout Styles
    .gform_title {
      color: $white;
    }

    .gform_fields {
      display: flex !important;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      list-style-type: none;
    }

    .gfield {
      flex-basis: 100%;
      margin: 0 0 rem(40) !important;
      padding: 0 !important;
    }

    .half-width {
      flex-basis: 49%;
    }

    .white-divider {
      border: none;
      h2 {
        color: $white !important;
        text-align: center !important;
        text-transform: none !important;
        font-weight: 300;
      }
    }

    // Element Styles
    div.ginput_container_select {
      position: relative;

      &:after {
        position: absolute;
        top: rem(14);
        right: rem(15);
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        font-family: 'Font Awesome 5 Pro';
        font-weight: 400;
        content: '\f107';
        font-size: rem(32);
        color: $white;
        pointer-events: none;
      }
    }

    .gfield_checkbox label {
      max-width: unset !important;
      min-width: rem(170);
      margin-top: rem(6) !important;
    }

    .gfield_required {
      color: inherit;
    }

    .gform_footer {
      margin: 0 !important;
      padding: 0 !important;
      text-align: center;
    }

    // Active Styles
    .animated {
      label {
        // top: rem(53);
        transition: all .3s ease;

        &.active-position {
          top: 0;
        }

        &.active-color {
          color: $white;
        }

        &.active-weight {
          font-weight: 700 !important;
        }
      }

      input, select, textarea {
        &:active,
        &:focus {
          outline: none !important;
        }
      }
    }
  }

  .top_label input.medium {
    width: 100% !important;
  }

  // file input
  input[type=file].medium {
    &::-webkit-file-upload-button {
      visibility: hidden;
    }

    &::before {
      content: 'select image';
      display: inline-block;
      @include buttons($white, transparent, $white, $white, $white, $primary);
      max-width: rem(300);
      margin: 0 auto;
    }

    &:hover::before {
      background-color: $white;
      color: $black;
    }

    &:active::before {
      background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
    }

  }

  .contrast {
    .gfield_label {
      color: $black;
      &.active-color {
        color: $black;
      }
    }
    .gsection_title, .ginput_container input {
      color: $black !important;
    }
    .ginput_container input,
    .ginput_container textarea,
    .ginput_container select {
      border-color: $black;
    }

    input[type="checkbox"],
    input[type="radio"] {
      + label {
        color: $black;
      }

      &:before {
        border: rem(2) solid $black;
      }

      &:checked:after {
        color: $black;
      }

      &:focus, &:active {
        outline: none;

        &:before {
          border-color: $black;
        }
      }
    }

    input[type=file].medium {
      &::-webkit-file-upload-button {
        visibility: hidden;
      }

      &::before {
        content: 'select image';
        display: inline-block;
        @include buttons($black, transparent, $black, $black, $white, $white);
        max-width: rem(300);
        margin: 0 auto;
      }

      &:hover::before {
        background-color: $black;
        color: $white;
      }

      &:active::before {
        background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
      }

    }

    input[type=submit] {
      @include buttons($black, transparent, $black, $black, $black, $white);
    }

  }

  // Errors
  &.gform_validation_error form {
    .gform_body ul.gform_fields li.gfield.gfield_error {
      border-color: $white;

      &.full-width,
      &.half-width {
        max-width: unset !important;
      }

      label {
        color: #ff0000;
      }
    }

    .gform_body ul.gform_fields li.gfield label {
      top: 0;
    }

    div.validation_error {
      width: 100%;
      border-color: #ff0000;
      color: #ff0000;
    }

    .validation_message {
      color: #ff0000;
    }
  }
}

// Media Queries
@media screen and (max-width: $small-breakpoint) {

  input[type=file].medium {
    &::-webkit-file-upload-button {
      visibility: unset !important;
    }

    &::before {
      display: none !important;
    }

  }

  .gform_wrapper form {
    .gfield {
      margin: 0 0 rem(20) !important;
    }

    .half-width {
      flex-basis: 100%;
    }
  }

  .gform_footer input[type=submit] {
    min-width: 100%;
  }

  .gform_wrapper .gform_footer input.button, .gform_wrapper .gform_footer input[type=submit] {
    width: 100% !important;
    max-width: rem(270);
    margin-top: rem(30) !important;
  }

  .ginput_container_fileupload input {
    font-size: rem(12);
    display: block;
  }
  .gform_wrapper input[type=file].medium:before {
    font-size: rem(12);
  }
}
