/*------------------------------------------------------------------------------
  Header
------------------------------------------------------------------------------*/
html,
body {
  overflow-x: hidden;

  &.locked {
    overflow-y: hidden;
  }
}

body {
  &:after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 9998;
    transition: all .4s ease;
  }

  &.masked:after {
    background: rgba(0, 0, 0, 0.7);
    pointer-events: auto;
  }
}

.site-header {
  position: relative;
  @include iPhoneX;
  background-color: $black;
  z-index: 9999;

  .container {
    padding: rem(15) 0;
  }

  .col-12 {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__logo {
    width: rem(400);
    margin: 0 auto;
    img {
      width: 100%;
    }
    &.lg-hide {
      display: none;  
    }
  }
}

// Media Queries
@media screen and (max-width: $medium-breakpoint) {
  .site-header {
    .container {
      padding: rem(20) 0;
    }

    .col-12 {
      justify-content: center;
    }

  }

  .site-header__logo {
    width: rem(230);
    margin: 0;

    &.lg-hide {
      display: flex;  
    }
  }
}
