/*------------------------------------------------------------------------------
  Menu Icon
------------------------------------------------------------------------------*/
.menu-icon {
  display: block;
  position: absolute;
  top: rem(8);
  right: 0;
  padding: rem(20) rem(10);
  background: transparent;
  -webkit-appearance: none;
  outline: none;
  border: none;
  z-index: 99999;

  span {
    position: relative;

    &:before {
      content: '';
      position: absolute;
      top: rem(-15);
      left: 0;
    }

    &:after {
      content: '';
      position: absolute;
      top: rem(15);
      left: 0;
    }
  }

  span,
  span:before,
  span:after {
    display: block;
    width: rem(60);
    height: rem(7);
    background-color: $white;
    transform-origin: -4% center;
    transition: all .4s ease;
    border-radius: rem(50);
  }

  &:active,
  &:focus,
  &:hover {
    span,
    span:before,
    span:after {
      background-color: $gray-light;
    }
  }

  // Active styles
  &.active span {
    background-color: transparent;

    &:before {
      top: rem(-23);
      left: rem(5);
      transform: rotate(45deg);
    }

    &:after {
      top: rem(23);
      left: rem(5);
      transform: rotate(-45deg);
    }
  }
}


// Media Queries
@media screen and (max-width: $medium-breakpoint) {

  .menu-icon {
    top: rem(-5);
    right: rem(10);

    span, span:before, span:after {
      width: rem(40);
      height: rem(5);
    }

    span {
      &:before {      
        top: rem(-10);
      }
      &:after {
        top: rem(10);
      }
    }

    &.active span {
      &:before {
        top: rem(-15);
      }
      &:after {
        top: rem(15);
      }
    }
    
  }

}
