/*
 * 3-Column Grid (Global)
 *
 * Template part used on various templates/views
 */

.three-column-grid {
  @include iPhoneX;

  .container {
    padding: rem(40) 0;
  }

  .col-12 {
    margin: rem(20) 0;
  }

  .col-4 {
    margin: rem(20) 0;
  }

  &__separator {
    &:after {
      position: absolute;
      content: '';
      height: 100%;
      width: rem(2);
      background-color: $white;
      right: 0;
      top: 0;
    }
    &:last-of-type:after {
      display: none;
    }
  }

  &__column {
    display: flex;
    flex-wrap: wrap;
    height: 100%;

    > div {
      flex: 0 1 100%;
    }
  }

  &__img {
    padding-bottom: 60%;
  }

  &__text {
    padding: rem(30) rem(20);
  }

  .text-center {
    align-self: flex-end;
    padding-bottom: rem(30);
  }
}

// Media Queries
@media screen and (max-width: $medium-breakpoint) {
  .three-column-grid__separator:after {
    display: none;
  }
}
