/*
 * Price table (Global)
 *
 * Template part used on various templates/views
 */

.price-tables {
  @include iPhoneX;

  .container {
    padding: rem(50) 0;
  }

  &__container {
    display: flex;
    align-items: stretch;
    justify-content: center;
    width: 100%;
    border: rem(2) solid $black;
    margin: rem(50) 0 rem(80);
  }
  
  &__column {
    position: relative;
    background-color: $white;
    margin: 0 auto;
    width: 100%;
    text-align: center;

    &:after {
      content: "";
      position: absolute;
      top: 25%;
      right: 0;
      display: block;
      width: rem(2);
      height: 65%;
      background-color: $gray-medium;
    }

    &:last-of-type {
      padding-bottom: 0;
      &:after {
        display: none;
      }
    }

    .column_head {
      background-color: $black;
      padding: rem(10);
      h3 {
        color: $white;
        margin: 0;
      }
    }

    .column_price {
      background-color: $Gray-lightest;
      padding: rem(10) 0;
      .discounted {
        font: 500 rem(35)/1.3 $bentham;
      }
    }

    .column_repeater {
      padding: rem(20) 0 rem(40);
      .repeater-item {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 rem(15);
        position: relative;
      }
    }

    .button {
      margin: rem(10) 0 rem(30);
    }
  }
}

// Media Queries
@media screen and (max-width: $medium-breakpoint) {
  .price-tables__column .column_head {
    min-height: rem(90);
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: $small-breakpoint) {
  .price-tables__column .column_repeater .repeater-item {
    font-size: rem(16);
  }

  .price-tables__container {
    flex-direction: column;
    margin: 0 rem(10);
  }
  
  .price-tables__column {
    padding-bottom: rem(80);
  }

}