/*
 * Slider (Global)
 *
 * Template part used on various templates/views
 */

.slider-section {
  @include iPhoneX;

  .container {
    padding: rem(60) 0;
  }

  .col-12 {
    margin-bottom: rem(50);
  }

  .slick-slide {
    margin-bottom: rem(50);

    > div {
      height: 100%;
    }
  }

  &__slider .slick-list {
    max-width: rem(900);
    margin: 0 auto;
  }

  &__slide {
    display: block !important;
    width: calc(100% - 15px) !important;
    height: 100%;
    margin: 0 auto;
    padding: rem(30);
    border: rem(2) solid $black;
    border-radius: 0;
    background-color: $white;
    img {
      margin: 0 auto;
    }
    .cursive-heading {
      font-size: rem(40);
    }
  }

  .button {
    margin-top: rem(30);
  }
}
