/*
 * Text/Image Split (Global)
 *
 * Template part used on various templates/views
 */

.text-image-split {
  overflow: hidden;
  
  &.with-margin {
    margin-top: rem(80);
    margin-bottom: rem(80);
  }

  .row--reverse .text-image-split__text {
    padding-right: rem(100);
    padding-left: rem(100);
  }

  &__text {
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: rem(700);
    padding-top: rem(80);
    padding-bottom: rem(30);
    padding-right: rem(100);
    padding-left: rem(100);
    
    > div {
      @include iPhoneX;
      z-index: 3;
      p {
        font-family: $bentham;
      }
    }

    .backtext {
      z-index: 1;
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      font: 500 rem(180)/1.3 $margo;
      color: #353535;
      margin-bottom: 25%;
    }

  }

  .button {
    margin-top: rem(30);
  }
}

// Media Queries
@media screen and (max-width: $medium-breakpoint) {
  .text-image-split__text .backtext {
    font-size: rem(140);
  }

}

@media screen and (max-width: $small-breakpoint) {
  .text-image-split {
    &__text {
      max-width: 100%;
      padding: rem(100) rem(30) rem(60) !important;
      min-height: auto;
      > div {
        margin-left: auto;
        margin-right: auto;
      }
    }

    &__image {
      order: -1;
      padding-bottom: 80%;
    }

    .sm-text-center * {
      text-align: center !important;
    }
  }

  .text-image-split__text .backtext {
    left: 0;
    font-size: rem(100);
  }

}
